%h1 メモアプリ

%form{ action: '/memos', method: 'post'}
  .field
    %input#title{name: 'title', type: 'text', required: true}
  .field
    %textarea#memo_content{name: 'content', required: true}
  %input{type: 'submit', value: '保存'}
