
/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus {
  outline: none;
}

/*
////////////////////////////////////////
以下にCSSを設定
////////////////////////////////////////
*/

body {
  padding: 32px 0;
  color: #56564f;
  line-height: 1.8;
  margin: 0;
  color: black;
}

h1 {
  line-height: 1.4;
  font-size: 50px;
  font-weight: 800;
  margin: 0.67em 0;
  text-align: center;
}

h2 {
  line-height: 1.4;
  font-size: 30px;
  font-weight: 800;
  margin: 0.67em 0;
  border-bottom: 1px solid lightgray;
}

h3 {
  line-height: 1.4;
  font-size: 25px;
  font-weight: 800;
  margin: 0.67em 0;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type='text'],
textarea {
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
}

input[type='text'] {
  height: 60px;
}

textarea {
  height: 250px;
}

input[type='submit'] {
  display: block;
  line-height: 1.5;
  border-radius: 8px;
  font-weight: 400;
  border: none;
  color: #fff;
  background-color: #0d6efd;
}

input.delete {
  background-color: #dc3545;
}

.actions {
  width: 80%;
  margin: 0 auto;
	display: flex;
	flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.actions > a, input{
  background: #fff;
  padding: .375rem .75rem;
}

.center {
  text-align: center;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.content {
  white-space: pre-wrap;
}

.form-items {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
